<div class="container">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">CODE</th>
        <th class="text-center">LONGITUDE</th>
        <th class="text-center">LATITUDE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of _postsArray[0].features">
        <td class="text-center" style="width: 15px">{{post.properties.CODE_RPA}}</td>
        <td class="text-center" style="width: 15px">{{post.geometry.coordinates[0]}}</td>
        <td class="text-center" style="width: 15px">{{post.geometry.coordinates[1]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
