<!--The content below is only a placeholder and can be replaced.-->


<!-- <div id= "background" class="background">
   <img src="assets/map-1400x800.jpg" alt="logo"> 
  <div class="popUp"> 
    <img id = "logoG" src="assets/logo.png" alt="logo">
    <form>
      <input type="text" id ="Endroit" placeholder="Recherche dans PARKMAP">
      <input type="button" name="button"  onclick="showUser()" class="button">
    </form>
  </div>
</div> -->




<div class="flex-container" style="margin: 0">
  <img src="assets/logo.png" alt="Logo">
  <form>
    <input type="text" id ="Endroit" placeholder="Rechercher un stationnement dans PARKMAP">
    <input type="button" class="button">
  </form>
</div>




